.movie-detail {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 2rem auto;
  background: #fff;
  padding: 2rem;
}

.language,
.duration,
.genre,
.rating {
  background: #f0f0f0;
  border-radius: 15px;
  padding: 0.2rem 0.6rem;
  color: #555;
}

.movie-body h2 {
  font-size: 1.5rem;
  color: #444;
  margin: 0.5rem 0;
}

.movie-image {
  background-size: cover;
  background-position: center;
  height: 300px;
  border-radius: 8px;
}

.movie-content {
  padding: 1em;
}

.movie-title {
  margin: 0.5em 0;
  font-size: 2em;
}

.movie-info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 1em 0;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1.5rem;
}

.movie-content h2 {
  font-size: 1.5rem;
  color: #444;
  margin: 0.5rem 0;
}

.btn-container {
  display: flex;
}

.btn {
  background-color: #37bae5;
  color: white;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  margin-top: 1rem;
  text-decoration: none;
}

.btn:hover {
  background-color: #555;
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  color: #666;
  margin-bottom: 10px;
}

/* Responsive design */
@media (min-width: 768px) {
  .movie-detail {
    flex-direction: row;
    align-items: flex-start;
  }

  .movie-content {
    flex: 2;
    padding-left: 2em;
  }
}

@media (min-width: 1024px) {
  .movie-detail {
    margin: 2em auto;
    max-width: 1024px;
    padding-left: 2em;
  }
}

@media (max-width: 576px) {
  .movie-image {
    height: auto;
  }
}
