.movie-detail {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 32px auto;
  background: #fff;
  padding: 32px;
}

.genre-container {
  display: flex;
  gap: 8px;
}

.language,
.duration,
.genre,
.rating {
  background: #f0f0f0;
  border-radius: 15px;
  padding: 3.2px 9.6px;
  color: #555;
}

.movie-body h2 {
  font-size: 24px;
  color: #444;
  margin: 8px 0;
}

.movie-image {
  background-size: cover;
  background-position: center;
  height: 300px;
  border-radius: 8px;
}

.movie-content {
  padding: 16px;
}

.movie-title {
  margin: 8px 0;
  font-size: 32px;
}

.movie-info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 16px 0;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 24px;
}

.movie-content h2 {
  font-size: 24px;
  color: #444;
  margin: 8px 0;
}

.btn-container {
  display: flex;
}

.btn {
  background-color: #37bae5;
  color: white;
  padding: 12.8px 25.6px;
  border: none;
  border-radius: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  margin-top: 16px;
  text-decoration: none;
}

.btn:hover {
  background-color: #555;
}

.description {
  font-size: 16px;
  line-height: 25.6px;
  color: #666;
  margin-bottom: 16px;
}

.btn:disabled {
  background-color: #555;
  cursor: not-allowed;
}

/* Responsive design */
@media (min-width: 768px) {
  .movie-detail {
    flex-direction: row;
    align-items: flex-start;
  }

  .movie-content {
    flex: 2;
    padding-left: 32px;
  }
}

@media (min-width: 1024px) {
  .movie-detail {
    margin: 32px auto;
    max-width: 1024px;
    padding-left: 32px;
  }
}

@media (max-width: 576px) {
  .movie-image {
    height: auto;
  }
}
